<div class="modal fade" id="modal-payment-progress">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Capturing Charges</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while your payment request is being processed.</p>
                <p>It may take several minutes based on the number of charges and payment API response but it will definitely pass.</p>
                <strong>Don't close the browser or refresh is page while payment processing is in progress.</strong>
                <div class="progress progress-sm active m-t-30">
                    <div class="progress-bar progress-bar-success progress-bar-striped"
                         role="progressbar">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="charge-status"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>