@model AutoPay.ViewModels.Account.ChangePasswordVm
@{
    ViewData["Title"] = "Change Password";
    ViewBag.NavCssChangePwd = "active";
}

<partial name="_PageHeaderPartial" model="AdminPageHeader.GetChangePasswordHeader()" />
<section class="content">
    <div class="row animated fadeIn">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User Credential</h3>
                </div>
                <form class="form-horizontal" asp-action="changePassword" asp-controller="account" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Current Password: *</label>
                            <div class="col-sm-8">
                                <input type="password"
                                       asp-for="CurrentPassword"
                                       class="form-control"
                                       maxlength="100" />
                                <div>
                                    <span asp-validation-for="CurrentPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">New Password: *</label>
                            <div class="col-sm-8">
                                <input type="password"
                                       asp-for="NewPassword"
                                       class="form-control"
                                       maxlength="100" />
                                <div>
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Confirm: *</label>
                            <div class="col-sm-8">
                                <input type="password"
                                       asp-for="Confirm"
                                       class="form-control"
                                       maxlength="100" />
                                <div>
                                    <span asp-validation-for="Confirm"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <button type="submit" class="btn btn-primary btn-flat">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>